

table, th, td {
    border: 1px solid black;
}   

img {
    float: right;
    position: relative;
    bottom: 200px;
}

a:hover{
    text-decoration: underline;
}
.mecolor{
    background-color:rgb(205,133,63) ;
}

.meformation{
    background-color: rgb(222,184,135);
}

.cencolor{
  background-color: rgb(165,42,42);
  padding: 20px;
}
footer{

  position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:tan;
   color: white;
   text-align: center;
}
